<a href="https://colab.research.google.com/github/IsWallison/Coursera/blob/main/Coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Title of the notebook: 
###Data Science Tools and Ecosystem

#introduction: 
##Submit Your Work and Grade Your Peers

#Data science languages: 

##Python

##R

##SQL

##Java

##Julia.

#data science libraries:
1. Pandas

2. NumPy

3. Matplotlib

4. Seaborn

5. SciKit-Learn

6. Keras

7. TensorFlow

8. PyTorch

9. Apache Spark

10. Vegas

11. Big DL

12. Ggplot2

# table of Data Science tools
- | Data Science Tools
----| ---
1 | Anaconda
2 | Jupyter Notebooks
3 |R Studio
4 | Spyder
5 | Zeppelin

#introducing arithmetic expression examples

In [ ]:
#code cell to multiply and add numbers
(5 * 2) + 3

13

In [1]:
#this CODE will convert 120 minutes to hour by dividing by 60

120//60

2

#Objectives:
##Objective A
##Objective B
##Objective C
##Objective D

#Authorâ€™s name:
Wallison Borges